body {
  position: relative;
  width: 1255px;
  height: 3946px;
  background-color: #fff;
}

.heading_container {
  background-image: url(/img/background_header.png);
  background-repeat: no-repeat;
  background-size:  1250px 1300px;
  position: relative;
  top: -16px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 160px 0px;
  position: relative;
  width: 920px;
  height: 756px;
  bottom: 150px;
  left: 140px;
}

.bar {
  position: relative;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
  position: relative;
  right: 60px;
}

.nav_bar ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.nav_bar a {
  width: 63px;
  height: 20px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #344563;
}

.h1_heading {
  width: 920px;
  height: 114px;
  font-family: 'Inter', sans-serif;
  font-style: none;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
}

#h1_color {
  color: #36b37e;
}

.supporting_text {
  width: 780px;
  height: 96px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  position: relative;
  left: 60px;
}

#button_social {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  right: 20px;
}

#vector {
  border: none;
  border-color: none;
  background: none;
}

#vector img{
  width: 50px;
  height: 50px;
  padding: 8px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  border-bottom-style: none;
  position: relative;
  top: 90px;
  border:none;
}

/*work section*/

.work {
  text-align: center;
  align-items: center;
  padding: 64px 24px;
  gap: 48px;
  position: absolute;
  width: 1200px;
  height: 1244px;
  justify-content: center;
  border: 1px solid red;/*guia*/
}

.work_title {
  width: 500px;
  height: 48px;
  font-family: 'inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  position: relative;
  left: 30%;
  padding-bottom: 45px;
}

.grip_container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 15px;
  width: 1171px;
  height: 1000px;
  justify-content: center;
}

.card {
  width: 380px;
  height: 498px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
}

.card_inside {
  width: 380px;
  height: 221px;
  align-items: center;
  position: relative;
  gap: 16px;
  top: 258px;
  background: #fff;
  border-radius: 8px;
}

.paragraph_card {
  width: 337px;
  height: 57px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #172b4d;
  padding: 10px;
}

.stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 305px;
  height: 32px;
  position: relative;
  right: 30px;
}

.listw {
  width: 103px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #172b4d;
  display: flex;
  align-items: center;
  gap: 4px;
  list-style: none;
}

.ruby {
  justify-content: center;
  align-items: center;
  background: #ebf0ee;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 9px;
  width: 103px;
  height: 32px;
  border-radius: 4px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 9px;
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 9px;
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

#button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  background-color: #36b37f;
  border-radius: 8px;
  margin: 40px 20px 20px 20px;
  text-decoration: none;
  position: relative;
  left: 90px;
  bottom: 10px;
  border-color: transparent;
}

#button p {
  width: 122px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

