body {
  position: relative;
  width: 1255px;
  height: 3846px;
  background-color: #fff;
}

.heading_container {
  background-image: url(/img/background_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -8px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 160px 0px;
  gap: 24px;
  position: relative;
  width: 920px;
  height: 756px;
  bottom: 160px;
  left: 140px;
  border: 1px solid red;
}

.h1_heading {
  width: 920px;
  height: 114px;
  font-family: 'Inter', sans-serif;
  font-style: none;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
}

#h1_color {
  color: #36b37e;
}

.supporting_text {
  width: 780px;
  height: 96px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  position: relative;
  left: 60px;
}

.bar {
  position: relative;
  margin: 0 auto;
  height: 72px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
}

.nav_bar ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.nav_bar a {
  width: 63px;
  height: 20px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #344563;
}


